

*{
    -fx-fondo: #467eac;
    -fx-fondo1: #64b5f6;
    -fx-fondo2: #83c3f7;
    -fx-fondo3: #e1f5fe;
    
    -fx-fondoS: #158f9a;
    -fx-fondoS1: #1ecddd;
    -fx-fondoS2: #4bd7e3;
    
    -fx-font-size: 14;

           
}

.background
{
    -fx-background-color: radial-gradient(radius 130%, whitesmoke, #B3E5FC, #FFF9C4);
}

.background2
{
    -fx-background-color: radial-gradient(radius 200%, #FFF9C4, #80DEEA, whitesmoke);
}

.background3
{
    -fx-background-color:   rgba(1000, 1000, 1000, 0.3);/*to bottom,  #00ACC1, #FFEB3B);*/
}

.backgroundTop
{
   -fx-background-color: -fx-fondoS;
}

.boton
{
    -fx-background-color: -fx-fondoS2;
    -fx-text-fill: black;
}

.botonAtras
{
    -fx-background-color: -fx-fondoS;
    -fx-text-fill: black;   
}

.jfx-text-field{
    -fx-prompt-text-fill: #1565C0;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -jfx-focus-color: -fx-fondo2;
    -jfx-unfocus-color: whitesmoke;
}

.jfx-text-area{
    -fx-prompt-text-fill: #1565C0;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -jfx-focus-color: -fx-fondo2;
    -jfx-unfocus-color: whitesmoke;
}

.jfx-combo-box{
    -jfx-focus-color: -fx-fondo1;
    -jfx-unfocus-color: #ffffff;;
    -fx-text-fill: black;
    -jfx-label-float: TRUE;
}

.imgAtras
{
    -fx-image:  url('/clinicauna/resources/back.png');
}

.imgLimpiar
{
    -fx-image: url('/clinicauna/resources/add.png');
}

.imgEliminar
{
    -fx-image: url('/clinicauna/resources/delete.png');
}

.imgBuscar
{
    -fx-image: url('/clinicauna/resources/look.png');
}

.imgGuardar
{
    -fx-image: url('/clinicauna/resources/save.png');
}

.jfx-button{
    -fx-background-color: -fx-fondo2;
    -fx-text-fill: white;
}

.botonMenu{
    -fx-background-color: -fx-fondo2;
    -fx-text-fill: black;
}

.scroll{
    -fx-background-color:transparent;
}

.scroll > .viewport {  
    -fx-background-color: transparent;
}